@import '../../scss/app.scss';
.message-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 96%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $main-color;
  width: 300px;
  color: $black;
  padding: 10px;
  .messageList {
    height: 100%;
    overflow: hidden;
    div {
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .send-button {
    display: flex;
    input {
      color: $black;
      width: 100%;
    }
  }
}
