$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './variables.scss';
@import './shared/base.scss';

html {
  background: #f7f7f7;
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.navbar-brand {
  font-size: 1.5em;
  img {
    display: inline-block;
    width: 3.125rem;
  }
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  .rtcContainer {
    display: flex;
    height: 100%;
    width: 100%;
  }
  h2 {
    margin-top: 0rem;
  }

  h4 {
    margin-top: 1.25rem;
  }
}

.btn-action {
  outline: none;
  border: none;
}
